# ============================
# Git Attributes - ThunderTools
# ============================

# Forzar saltos de línea LF en scripts
gradlew text eol=lf
*.sh text eol=lf

# Mantener archivos batch en CRLF (Windows)
*.bat text eol=crlf

# Archivos Gradle y propiedades siempre en LF
*.gradle text eol=lf
gradle.properties text eol=lf
settings.gradle text eol=lf
build.gradle text eol=lf

# Archivos de código fuente en LF
*.java text eol=lf
*.kt text eol=lf
*.xml text eol=lf

# Archivos de texto y Markdown en LF
*.txt text eol=lf
*.md text eol=lf

# Binarios: no modificar
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.keystore binary